@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.table {}

.button__edit {
  background-color: #337ab7;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.button__delete {
  background-color: #d9534f;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.table__row {
  background-color: #f9f9f9;
  & td {
    border: 1pt solid black;
    font-family: 'Roboto', sans-serif;
  }
}

.update {
  margin-top: 50px;
  margin-left: 50px;
  h4 {
    font-family: 'Roboto', sans-serif;
  }
}

.update__group {
  display: flex;
  max-width: 600px;
  justify-content: space-between;
  padding: 5px;
}

.update__control {
  width: 400px;
}

.update__name,
.update__side {
  font-family: 'Roboto', sans-serif;
}

.update__button {
  background-color: #3f51b5;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  border: none;
}